@charset "utf-8";
/* NORMALIZE CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* CSS Document */
/*------------------------------------------ NAVIGATION BAR ------------------------------------------ */
/* ADJUSTING ITEMS TO BE BESIDE EACH OTHER */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
/* ADJUSTING ITEMS TO BE ALL THE WAY TO THE RIGHT */
.primary-header {
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
}
/* REMOVED BULLET POINT ON LISTING OF NAVIGATION BAR */
.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  background: hsl(0 0% 100% / 0.5);
  backdrop-filter: blur(1rem);
}
/* ENSURING ALL BROWSER VIEWS THE SAME THING */
@supports (backdrop-filter: blur(1rem)) {
  .primary-navigation {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}
/* SETS TEXT PROPERTIES */
.primary-navigation a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.logo {
  width: 100px;
  height: 100px;
  margin: 1rem;
}
.primary-navigation a > [aria-hidden="true"] {
  font-weight: 700;
  margin-inline-end: 0.75rem;
}
/* HAMBURGER ICON HIDDEN WHEN DESKTOP VIEW */
.mobile-nav-toggle {
  display: none;
}
/*------------------------------------HOMEPAGE-----------------------------------------------*/
.card {
  cursor: pointer;
}
.card:hover img {
  filter: blur(5px);
  transition: .4s;
}
.card img {
  transition: .4s ease-in-out;
}
.featured {
  padding-top: 3%;
  padding-bottom: 3%;
}
/*------------------------------------CAROUSEL-----------------------------------------------*/
.carousel-inner img {
  height: 900px;
  object-fit: cover;
}
#carouselExampleAutoplaying {
  margin: auto 0;
}
/*------------------------------------ PRODUCT SLIDER -----------------------------------------------*/
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}
.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}
.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.product-container::-webkit-scrollbar {
  display: none;
}
.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 550px;
  margin-right: 40px;
}
.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.product-card:hover .card-btn {
  opacity: 1;
}
.card-btn:hover {
  background: #5995fd;
  color: #fff;
}
.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}
.product-brand {
  text-transform: uppercase;
}
.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}
.price {
  font-weight: 900;
  font-size: 20px;
}
.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}
.pre-btn, .nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}
.pre-btn {
  left: 0;
  transform: rotate(180deg);
}
.nxt-btn {
  right: 0;
}
.pre-btn img, .nxt-btn img {
  opacity: 0.2;
}
.pre-btn:hover img, .nxt-btn:hover img {
  opacity: 1;
}
.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.collection {
  position: relative;
}
.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}
.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/*------------------------------------ABOUT PAGE-----------------------------------------------*/
.row {
	font-size: 24px;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.container.text-center.mt-6 {
	display: none;
}

.container-fluid.text-center.mt-6 {
	display: none;
}

.b-example-divider {
        height: 2rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

/*------------------------------------FAQ PAGE-----------------------------------------------*/

.faq-title{
    font-size: 50px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}


.questions-container{
    max-width: 800px;
    margin: 0 auto;
}

.question{
    border-bottom: 1px solid black;
}
.question button{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border:none;
    outline: none;
    font-size: 20px;
    color: black;
    font-weight: 700;
    cursor: pointer;
}
.question p{
    font-size: 22px;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.d-arrow{
    transition: transform 0.5s ease-in ;
    color: #fff;
}

/*add this class when click*/
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}

/*------------------------------------ PRODUCT PAGE -----------------------------------------------*/
.companyname {
  color: white;
}
.product-button {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  font-size: 15px;
  background: linear-gradient(to right, #8693ab, #bdd4e7);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
  text-decoration: none;
}
.product-button img {
  width: 30px;
  display: none;
  text-decoration: none;
}
.product-button:hover img {
  display: block;
}
.product-button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.shopSec {
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: 12%;
  z-index: -1;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.sheading {
  text-align: center;
  padding: 0 0 30px 0;
  color: black;
}
.shopProducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
  padding: 3% 3% 3% 3%;
  align-items: center;
}
.shopBox button i {
  width: 30px;
  display: none;
}
.shopBox button:hover i {
  display: block;
}
.shopcard button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopProducts .shopCard img {
  height: 80%;
  width: 100%;
}
.shopProducts .shopCard:hover {
  transform: translateY(-1rem);
  transition: .3s;
}
.shopProducts .shopCard {
  transition: .3s ease-in-out;
}
.shopCard {
  width: 350px;
  height: 100%;
  background-color: #f5f7fa;
  box-shadow: 20px 30px 50px rgba(0, 0, 0, 0.3);
  border: 2px solid #5995fd;
  border-radius: 3px;
  padding: 5px;
  padding-bottom: 2%;
  margin: 0 auto 20px auto;
}
.shopDesc {
  padding: 5px 20px;
  opacity: 0.8;
}
.shopName {
  font-weight: 900;
  font-size: 20px;
  color: #424144;
  padding: 0 20px;
}
.shopBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 30px;
  color: white;
}
.shopPrice {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

/*------------------------------------ STORE PAGE-----------------------------------------------*/
li {
	list-style: none;
}
.store-body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem;
}
.container {
	max-width: 600px;
	width: 100%;
	border: 1px solid #5995FD;
	border-radius: 10px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, .05);
}

.wrapper {
	display: flex;
}

.indicator {
	padding: 1.5rem 0;
	border-right: 1px solid grey;
}

.indicator li {
	display: flex;
	align-items: center;
	grid-gap: .5rem;
	padding: 10px 2rem;
	cursor: pointer;
	font-size: .875rem;
	color: black;
	border-right: 3px solid transparent;
}

.indicator li i {
	font-size: 1rem;
}

.indicator li:hover {
	background: #4d84e2;
}

.indicator li.active {
	border-right-color: #5995FD;
	color: #5995FD;
	background: white;
}

.content {
	padding: 1.5rem 2rem;
}
.content li {
	display: none;
}
.content li.active {
	display: block;
}
.content li h1 {
	font-size: 1.5rem;
	font-weight: 600;
	color: black;
	margin-bottom: .75rem;
}
.content li p {
	margin-bottom: .5rem;
	color: purple;
	font-size: .875rem;
}
#map { 
	margin-left: auto;
	margin-right: auto;
	width: 400px; 
	height: 400px; 
}
/*------------------------------------------ ACCOUNTS PAGE ------------------------------------------ */
.accounts-container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}
.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
form.sign-up-form {
  opacity: 0;
  z-index: 1;
}
form.sign-in-form {
  z-index: 2;
}
.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}
.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}
.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}
.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}
.social-media {
  display: flex;
  justify-content: center;
}
.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}
.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}
.account-btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
.account-btn:hover {
  background-color: #4d84e2;
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.accounts-container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}
.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}
.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}
.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}
.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}
.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}
.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}
.account-btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}
.right-panel .image, .right-panel .content {
  transform: translateX(800px);
}
/* ANIMATION */
.accounts-container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}
.accounts-container.sign-up-mode .left-panel .image, .accounts-container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}
.accounts-container.sign-up-mode .signin-signup {
  left: 25%;
}
.accounts-container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}
.accounts-container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}
.accounts-container.sign-up-mode .right-panel .image, .accounts-container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}
.accounts-container.sign-up-mode .left-panel {
  pointer-events: none;
}
.accounts-container.sign-up-mode .right-panel {
  pointer-events: all;
}
/*------------------------------------------ CART PAGE ------------------------------------------ */
.cart-page {
  width: 98%;
  margin: 100px auto 200px auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.cart-info {
  display: flex;
  flex-wrap: wrap;
}
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #3586ff;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}
td input {
  width: 40px;
  height: 30px;
  padding: 5px;
  pointer-events: none;
}
td a {
  color: #3586ff;
  font-size: 12px;
}
td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}
.total-price {
  display: flex;
  justify-content: flex-end;
}
.total-price table {
  border-top: 3px solid #3586ff;
  width: 100%;
  max-width: 400px;
}
td:last-child {
  text-align: right;
}
td:last-child {
  text-align: right;
}
.cart-button {
  background-color: #3586ff;
  border: none;
  color: white;
  padding: 15px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 49px;
  float: right;
}
/*------------------------------------------ CHECKOUT PAGE ------------------------------------------ */
.checkout-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.pages {
  display: flex;
  width: 300%;
  box-sizing: border-box;
}
.page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  transition: all 1.5s;
  color: white;
}
.progress-checkout-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  margin: 50px auto auto auto;
}
.progress-step-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.step-check {
  background-color: rgb(0, 132, 255);
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-bottom: 1rem;
  position: relative;
  background-image: url("../Resources/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}
.progress-step-container:nth-of-type(3) .step-check::after {
  display: none;
}
.progress-step-container:nth-of-type(3) .step-check {
  background-image: none;
  background-color: white;
  border: 2px solid grey;
}
.progress-step-container:nth-of-type(2) .step-check::after {
  background-color: grey;
}
.progress-step-container:nth-of-type(2) .step-check {
  background-image: none;
  background-color: white;
  border: 2px solid rgb(0, 132, 255);
}
.progress-step-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.progress-step-container2:nth-of-type(3) .step-check::after {
  display: none;
}
.progress-step-container2:nth-of-type(3) .step-check {
  background-image: none;
  background-color: white;
  border: 2px solid grey;
}
.progress-step-container2:nth-of-type(1) .step-check::after {
  background-color: rgb(0, 132, 255);
}
.progress-step-container2:nth-of-type(1) .step-check {
  border: 2px solid rgb(0, 132, 255);
}
.progress-step-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.progress-step-container3:nth-of-type(3) .step-check::after {
  display: none;
}
.progress-step-container3:nth-of-type(3) .step-check {
  border: 2px solid rgb(0, 132, 255);
}
.progress-step-container3:nth-of-type(1) .step-check::after {
  background-color: rgb(0, 132, 255);
}
.progress-step-container3:nth-of-type(1) .step-check {
  border: 2px solid rgb(0, 132, 255);
}
.step-check::after {
  content: "";
  width: 15vw;
  height: 2px;
  background-color: inherit;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(100%) translateY(-50%);
}
.step-title {
  color: grey;
}
.checkout-form-container {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.checkout-form-title {
  font-size: 36px;
  margin-bottom: 2.5rem;
  font-weight: 500;
  opacity: 0.8;
  color: black;
}
.checkout-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.checkout-input-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}
label {
  font-size: 16px;
  color: grey;
  margin-bottom: 0.5rem;
}
.checkout-input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}
.checkout-input::placeholder {
  font-size: 14px;
  color: #b9b9b9;
}
.checkout-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.checkout-input-container .checkout-input-line {
  width: 48%;
}
.checkout-btn-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.checkout-btn {
  background-color: rgb(0, 132, 255);
  color: white;
  font-weight: 500;
  font-size: 18px;
  height: 50px;
  padding: 0 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}
.checkout-btn:hover {
  background-color: rgb(4, 88, 167);
}
/*------------------------------------------ FOOTER ------------------------------------------ */
footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
footer .social_icon, footer .footer-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
footer .social_icon li, footer .footer-menu li {
  list-style: none;
}
footer .social_icon li a, footer .footer-menu li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .social_icon li a:hover {
  transform: translateY(-10px);
}
footer .footer-menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
footer .footer-menu li a:hover {
  opacity: 1;
  transform: translateY(-10px);
}
footer p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("../Resources/wave.png");
  background-size: 1000px 100px;
}
footer .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
/*------------------------------------------ RESPONSIVE MEDIA VIEWS STARTS HERE ------------------------------------------ */
@media (max-width: 870px) {
  /*--------------ABOUT-------------------*/
  .fa-solid.fa-arrow-right{
	transform: rotate(90deg);
	  margin-top: 50px;
	  margin-bottom: 50px;
}
	.container.text-center.mt-5 {
		display: none;
	}
	.container.text-center.mt-6 {
		display: unset;
	}
	.col-10.col-sm-8.col-lg-6 {
		margin-left: auto;
		margin-right: auto;
	}
	.container-fluid.text-center.mt-5 {
	display: none;
}
	.container-fluid.text-center.mt-6 {
	display: unset;
}
	.row.flex-lg-row-reverse.align-items-center.g-5.py-5 {
		margin-left: auto;
		margin-right: auto;
	}
	
	.row.flex-lg-row.align-items-center.g-5.py-5 {
		margin-left: auto;
		margin-right: auto;
	}
	.row {
	font-size: 24px;
	width: 100%;
	margin-left: 0px !important;
	margin-right: 0px !important;
}
  /*--------------ABOUT ENDS-------------------*/
  .accounts-container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }
  .signin-signup, .accounts-container.sign-up-mode .signin-signup {
    left: 50%;
  }
  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }
  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }
  .right-panel {
    grid-row: 3 / 4;
  }
  .left-panel {
    grid-row: 1 / 2;
  }
  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }
  .panel h3 {
    font-size: 1.2rem;
  }
  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }
  .account-btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  .accounts-container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
  .accounts-container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }
  .accounts-container.sign-up-mode .left-panel .image, .accounts-container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }
  .accounts-container.sign-up-mode .right-panel .image, .accounts-container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }
  .right-panel .image, .right-panel .content {
    transform: translateY(300px);
  }
  .accounts-container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }

  /* CART PAGE */
  .cart-info p {
    display: none;
  }
  /* PRODUCT PAGE */
  /*-----------------SHOP--------------------------*/
  .shopSec {
    margin-top: 10px;
    padding-bottom: 7%;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
  }
  .sheading {
    text-align: center;
    padding: 10px 0 30px 0;
    color: black;
    font-size: 37px;
  }
  .shopProducts {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .shopCard {
    height: 100%;
    width: 100%;
  }
  .shopBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    color: white;
  }
}
@media (min-width: 560px) and (max-width: 55em) {
  .primary-navigation a > span[aria-hidden=""] {
    display: none;
  }
}
@media (min-width: 35em) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 10vw, 10rem);
  }
}
@media (max-width: 560px) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
  /* WIDTH OF DROPDOWN MENU WHEN RESPONSIVE */
  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }
  /* HAMBURGER MENU ICON */
  .mobile-nav-toggle {
    display: unset;
    position: absolute;
    z-index: 9999;
    background-image: url("../Resources/hamburger-menu.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    width: 42px;
    border: 0;
    aspect-ratio: 1;
    margin-top: -19px;
    margin-left: 20%;
  }
  /* CLOSE HAMBURGER MENU ICON */
  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../Resources/close-hamburger.svg")
  }
  /* ACCOUNTS PAGE */
  form {
    padding: 0 1.5rem;
  }
  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .accounts-container {
    padding: 1.5rem;
  }
  .accounts-container:before {
    bottom: 65%;
    left: 50%;
  }
  .accounts-container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
  /* CHECK OUT PAGE */
  .progress-checkout-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin: 50px auto 0 auto;
  }
  /* FOOTER */
  footer {
    margin-top: 30px;
  }
}