<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SneakySneaker</title>
<!-- CSS -->
<link href="../css/style.css" rel="stylesheet" type="text/css">
<script src="../javascript/nav.js" defer></script>
</head>

<body>
<!-- NAVIGATION BAR -->
<header class="primary-header flex">
  <div></div>
  <!-- insert logo here later on --> 
  
  <!-- HAMBURGER MENU -->
	<div class="hamburger">
  <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false"><span class="sr-only"></span></button></div>
  <nav>
    <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
      <li class="nav-active"> <a href="index.html"><span aria-hidden="true"></span>Home</a> </li>
      <li class="nav-active"> <a href=".."><span aria-hidden="true"></span> Products </a> </li>
      <li class="nav-active"> <a href=".."><span aria-hidden="true"></span> About </a> </li>
      <li class="nav-active"> <a href=".."><span aria-hidden="true"></span> Stores </a> </li>
      <li class="nav-active"> <a href=".."><span aria-hidden="true"></span> Members </a> </li>
      <li class="nav-active"> <a href=".."><span aria-hidden="true"></span> Cart </a> </li>
    </ul>
  </nav>
</header>
</body>
</html>
